.header {
  text-align: center;
  margin-top: 2rem;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  height: 100%;
}
.block {
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
  transition: clip 600ms ease-out;
}

.connector {
  position: absolute;
  z-index: 0;
  width: 10px;
  background-color: none !important;
}
.block:last-child {
  margin-bottom: 2rem;
}
button {
  margin-top: 1rem;
  padding: 0.3rem 0.7rem;
}
.more {
  opacity: 0;
  transition: all 0.5s;
}
.more--pen {
  opacity: 1;
  transition: all 0.5s;
}

.square img {
  width: 50px;
}

.squares {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.square-btn {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(90, 133, 168);
  padding: 0.5rem;
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
}
